@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i#MenuBurguer{
    text-align: center;
    background-color: rgb(17, 17, 64);
    color: white;
    font-size: 2em;
    display: block;
    padding: 10px;
    cursor: pointer;
}

menu{
    font-size: 1.2em;
    display: none;
}
menu >ul{
    list-style-type: none;
}
menu >ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color:rgb(17, 17, 64);
    color: white;
}
menu>ul>li>a:hover{
    background-color: white;
    color: rgb(17, 17, 64);
    transition: .5s ease-in;
}








