@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i#MenuBurguer{
    text-align: center;
    background-color: rgb(17, 17, 64);
    color: white;
    font-size: 2em;
    display: block;
    padding: 10px;
    cursor: pointer;
}

menu{
    font-size: 1.2em;
    display: none;
}
menu >ul{
    list-style-type: none;
}
menu >ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color:rgb(17, 17, 64);
    color: white;
}
menu>ul>li>a:hover{
    background-color: white;
    color: rgb(17, 17, 64);;
}
.totais{
margin: auto;
margin-top: 10px;
    width: 95vw;
    height: 100px;
    background-color: rgba(211, 211, 211, 0.442);
    border-radius: 10px;
}
.rel{
   margin: auto;
    width: 95vw;
    height: 70vh;
    margin-top: 10px;
    background-color: rgba(211, 211, 211, 0.442);
    border-radius: 15px;
}
p{
    text-align: center;
}






